/*===================
        base
===================*/

body {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
}

input,
textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/*===================
        global
===================*/

section {
  padding: 85px 0 125px;
}

.container {
  margin: 0 auto;
}

@media only screen and (min-width: 1023px) {
  .container {
    width: 1024px;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    max-width: 96%;
  }
}

.contentsWrapper {
  margin-top: 96px;
}

.heading {
  text-align: center;
  font-size: 48px;
}

/*================================
	section fadeIn animation
=================================*/

.fadeUp {
  animation-name: fadeUpAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger {
  opacity: 0;
}

/*================================
	button hover transition
=================================*/

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 134px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  border: 1px solid #333;
  width: 20px;
  height: 20px;
  transition:all 0.3s ease-in-out;
}

.button::before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}

.button::after {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}

.button:hover::before,
.button:hover::after {
  width:calc(100% - 2px);
	height:calc(100% - 2px);
	border-color: #666;
}

/*================================
	header
=================================*/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #F0E5CF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  z-index: 9999;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
}

header .logo {
  width: 134px;
  height: 67px;
}

header .navigation .list {
  column-gap: 45px;
}

/*================================
	first view
=================================*/

.firstView .message {
  text-align: center;
  font-size: 48px;
}

.firstView .heroWrapper {
  display: flex;
  margin-top: 44px;
}

/*================================
	ABOUT section
=================================*/

.about {
  overflow: hidden;
  background-color: #F7F6F2;
}

.about .contentsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 16px;
}

.about .profile {
  line-height: 1.7;
}

.about .title {
  font-weight: 700;
}

.about .icon {
  width: 300px;
  height: 300px;
}

.about .authorImage {
  display: block;
  border-radius: 9999px;
}

/*================================
	WORKS section
=================================*/

.works {
  background-color: #EDCDBB;
}

.works .cards {
  column-gap: 30px;
}

.works .card {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.works .thumbnail {
  background-image: url(../img/Disney2_image.jpeg);
  background-position: center;
  background-size: cover;
  padding-top: 53%;
}

.works .detail {
  height: 175px;
  padding: 20px 15px;
  background-color: #F7F6F2;
}

.works .title {
  word-break: break-all;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.works .body {
  margin-top: 15px;
  line-height: 1.5;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.works .button {
  position: relative;
  width: 226px;
  height: 75px;
  padding: 15px 20px;
  text-decoration: none;
  outline: none;
  font-size: 36px;
}

/*================================
	SKILLS section
=================================*/

.skills {
  background-color: #F7F6F2;
}

.skills .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .tab {
  padding: 15px;
}

.skills .iconWrapper {
  display: none;
}

.skills .is-active {
  border-bottom: 1px solid #333;
}

.skills .icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
  width: 100%;
  margin: 100px auto 0;
}

.skills .is-show {
  display: block;
}

.skills .title {
  text-align: center;
}

.skills .body {
  margin-top: 40px;
}

/*================================
	CONTACT section
=================================*/

.contact {
  background-color: #EDCDBB;
}

.contact .text {
  text-align: center;
  font-size: 48px;
}

.contact .snsIcons {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 30px;
}

.contact .snsIcon {
  width: 100px;
  height: 100px;
}

.contact .button {
  position: relative;
  width: 226px;
  height: 75px;
  padding: 15px 20px;
  text-decoration: none;
  outline: none;
  font-size: 36px;
}

/*================================
	footer
=================================*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 20px 0;
  background-color: #F0E5CF;
}

footer .text {
  font-size: 24px;
}

/*===================
      responsive
===================*/

/*================================
	Desk top( 〜1024px )
=================================*/

@media only screen and (min-width: 1024px) {
  .drawerToggle {
    display: none;
  }

  header .navigation .list {
    display: flex;
    column-gap: 45px;
  }

  header .navigation .item {
    font-size: 20px;
  }

  .works .cards {
    display: flex;
    justify-content: center;
  }

  .works .card {
    max-width: 300px;
  }
}

@media only screen and (max-width: 1023px) {
  body.active {
    overflow: hidden;
  }

  header .drawerToggle {
    position: fixed;
    top: 16px;
    right: 10px;
    width: 70px;
    height: 70px;
    z-index: 9999;
  }

  header .drawerToggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #4d4d4f;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  header .drawerToggle span:first-child {
    transform: translate(-50%, -16px);
  }

  header .drawerToggle span:last-child {
    transform: translate(-50%, 15px);
  }

  header .drawerToggle.active span:first-child {
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

  header .drawerToggle.active span:nth-child(2) {
    opacity: 0;
  }

  header .drawerToggle.active span:last-child {
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

/*================================
	hamburger menu navigation
=================================*/

  header .navigation {
    display: none;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: right 0.5s;
  }

  header .navigation.active {
    right: 0;
  }

  header .navigation .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .navigation .item {
    font-size: 30px;
  }

  header .inner {
    max-width: 96%;
  }

  .works .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .about .icon {
    margin-left: 100px;
  }

  .skills .tabs {
    column-gap: 35px;
  }

  .skills .tab {
    font-size: 36px;
  }
}

@media not all and (min-width: 768px) {

  .about .contentsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .skills .tab {
    font-size: 24px;
  }
}

@media only screen and (min-width: 450px) {
  .contact .pcNone {
    display: none;
  }

  .skills .icon {
    gap: 60px;
  }
}

@media not all and (min-width: 450px) {
  .skills .iconArea {
    gap: 60px 30px;
  }

  .skills .icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    justify-content: center;
    gap: 30px;
  }

  .skills .box {
    margin: 0 auto;
    max-width: 130px;
  }

  .skills .body {
    width: 100px;
  }

  .contact .text {
    font-size: 36px;
  }

  .contact .pcNone {
    display: block;
  }
}
