/*===================
        base
===================*/

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: HiraKakuPro-W3;
  min-height: 100vh;
  position: relative;
  padding-bottom: 176px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

input,
textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/*===================
        global
===================*/

section {
  margin: 0 auto;
  padding: 85px 0;
}

.container {
  width: 1024px;
  max-width: 96%;
  /* レスポンシブ時に↑ */
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 48px;
}

/*================================
	header
=================================*/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #F0E5CF;
  z-index: 9999;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
}

header .logo {
  width: 134px;
  height: 67px;
}

header .navigation .list {
  display: flex;
  column-gap: 45px;
}

header .navigation .item {
  font-size: 20px;
}

/*================================
	first view
=================================*/

.firstView .text {
  text-align: center;
  font-size: 48px;
}

.firstView .heroWrapper {
  display: flex;
  margin-top: 44px;
}

/*================================
	ABOUT section
=================================*/

.about {
  background-color: #F7F6F2;
}

.about .aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}

.about .profile {
  font-size: 16px;
}

.about .wrapper + .wrapper {
  margin-top: 15px;
}

.about .icon {
  width: 275px;
  height: 275px;
  margin-left: 80px;
}

.about .authorImage {
  display: block;
  border-radius: 9999px;
}
